.wp-block-button .wp-block-button__link {
	transition: box-shadow 0.2s cubic-bezier(0, 0, 0.03, 1);

	.is-style-outline.is-style-outline& {

		&:hover,
		&:focus {
			color: var(--wp--custom--wsu-color-crimson--crimson-light);
			border-color: var(--wp--custom--wsu-color-crimson--crimson-light);
		}

	}

	.is-style-round.is-style-round& {
		border-radius: 2em;
	}

	.is-style-small.is-style-small& {
		font-size: var(--wp--preset--font-size--small);
	}

	.is-style-large.is-style-large& {
		font-size: 1.25rem;
	}

	.is-style-action.is-style-action& {
		background-color: transparent;
		color: var(--wp--custom--wsu-color-crimson--crimson);
		display: inline-flex;
		font-size: 1.125rem;
		padding: 1rem 0;

		&::before {
			align-items: center;
			background-color: var(--wp--custom--wsu-color-crimson--crimson);
			border-radius: 50%;
			color: var(--wp--preset--color--white);
			content: "→";
			display: flex;
			font-size: 0.8em;
			height: 2em;
			justify-content: center;
			margin-right: 0.65em;
			width: 2em;
		}

		&:hover {
			box-shadow: none;
			color: var(--wp--custom--wsu-color-crimson--crimson);

			&::before {
				background-color: var(--wp--custom--wsu-color-crimson--crimson-light);
				outline: 2px solid var(--wp--custom--wsu-color-crimson--crimson-light);
				outline-offset: 2px;
			}
		}
	}

}
