.wp-block-hrswds-svg-selector {
	box-sizing: border-box;
	line-height: 0;

	&.has-base-icon-color {
		fill: var(--wp--preset--color--base);
	}

	&.has-contrast-icon-color {
		fill: var(--wp--preset--color--contrast);
	}

	&.has-primary-icon-color {
		fill: var(--wp--preset--color--primary);
	}

	&.has-primary-light-icon-color {
		fill: var(--wp--preset--color--primary-light);
	}

	&.has-secondary-icon-color {
		fill: var(--wp--preset--color--secondary);
	}

	&.has-secondary-light-icon-color {
		fill: var(--wp--preset--color--secondary-light);
	}

	&.has-base-icon-background-color svg {
		background-color: var(--wp--preset--color--base);
	}

	&.has-contrast-icon-background-color svg {
		background-color: var(--wp--preset--color--contrast);
	}

	&.has-primary-icon-background-color svg {
		background-color: var(--wp--preset--color--primary);
	}

	&.has-primary-light-icon-background-color svg {
		background-color: var(--wp--preset--color--primary-light);
	}

	&.has-secondary-icon-background-color svg {
		background-color: var(--wp--preset--color--secondary);
	}

	&.has-secondary-light-icon-background-color svg {
		background-color: var(--wp--preset--color--secondary-light);
	}

	&.has-icon-background-color svg {
		padding: 1rem;
	}

	&.is-style-round svg {
		border-radius: 9999px;
	}

}
