.wp-block-image {

	&.is-style-framed img {
		outline-style: solid;
		outline-width: 1px;
		outline-offset: calc((var(--wp--preset--spacing--40) * -1) + 0.75vw);
		outline-color: #fff;
	}

	.has-inline-icon .svg-icon {
		fill: currentcolor;
		left: 0;
		margin-right: 0.3rem;
		position: relative;
		top: 0.3rem;
	}

}
