.sidebar-wrapper {

	.wsu-navigation-menu--scrim {
		background-color: rgb(0, 0, 0, 0.7);
		display: none;
		min-height: 100vh;
		left: 0;
		position: fixed;
		top: 0;
		transition: opacity 150ms cubic-bezier(0, 0, 0.03, 1);
		width: 100%;
		z-index: 1050;
	}

	&.show-scrim-menu,
	&.show-scrim-search {

		.wsu-navigation-menu--scrim {
			display: block;
		}

	}

	.admin-bar & {
		top: 46px;
	}

	.sidebar-nav-wrapper {
		margin-top: 0;
	}

	@media screen and (width > 1260px) {
		border-right: 1px solid var(--wp--custom--wsu-color-gray--10);
	}

}
