.wp-block-search {

	/* Shared styles */
	.wp-block-search__button {
		margin-left: 0;
		transition: box-shadow 0.2s cubic-bezier(0, 0, 0.03, 1);
	}

	.wp-block-search__label {
		padding: 0 1rem;
		font-weight: 600;
	}

	/* The default border version */
	&.wp-block-search__button-outside {

		.wp-block-search__input {
			border-color: var(--wp--custom--wsu-color-gray--30);
			border-radius: 4px 0 0 4px;
			font-size: inherit;
			outline: 0;
			padding: 1.125rem 1.125rem;
			transition: box-shadow 0.3s cubic-bezier(0, 0, 0.03, 1);

			&:focus {
				box-shadow: 0 0 7px rgba(0, 0, 0, 0.4);
				border-color: var(--wp--custom--wsu-color-gray--80);
			}
		}

		.wp-block-search__button {
			border-radius: 0 6px 6px 0;
			padding: 0 1.75rem;
		}

	}

	/* The underline version with no border */
	&.wp-block-search__button-inside {

		.wp-block-search__inside-wrapper {
			border-width: 0 0 1px 0;
			border-color: var(--wp--preset--color--contrast);
		}

		.wp-block-search__input,
		.wp-block-search__button {
			border: 3px solid transparent;
			border-radius: 4px;

			&:focus {
				border-color: var(--wp--preset--color--primary-light);
				outline: 3px solid var(--wp--preset--color--white);
				box-shadow: 0 0 7px rgba(0, 0, 0, 0.4);
			}
		}

		.wp-block-search__input {
			font-size: 2rem;
			padding: 0 calc(0.5rem - 3px);
			width: 100%;
		}

		.wp-block-search__button {
			padding: 0 0.75rem;
		}

		&.wp-block-search__icon-button {

			.wp-block-search__button {
				font-size: 2rem;
				background-color: transparent;

				& svg {
					fill: var(--wp--preset--color--secondary);
				}

				&:hover {
					background-color: transparent;
					box-shadow: none;

					& svg {
						fill: var(--wp--preset--color--contrast);
					}
				}
			}

		}

	}

	&.wp-block-search__no-button .wp-block-search__input {
		border-radius: 4px;
	}

}
