h1,
h2,
h3,
h4,
h5,
h6 {

	&.is-style-callout {
		margin-bottom: 1.5rem;
		padding-bottom: 0.75em;
		position: relative;

		&::after {
			content: "";
			background-color: var(--wp--preset--color--primary);
			bottom: 0;
			display: block;
			height: 0.25em;
			left: 0;
			position: absolute;
			width: 1.5em;
		}

		&.has-text-align-center::after {
			left: calc(50% - 0.75em);
		}

		&.has-text-align-right::after {
			left: auto;
			right: 0;
		}
	}

	&.is-style-outline {
		color: #3f3f3f;
		margin-bottom: 2.25rem;
		text-align: center;
		font-size: 4.2rem;
		text-transform: uppercase;
		font-weight: 700;

		& strong {
			font-family: var(--wp--preset--font-family--wsu-outline) !important;
			font-weight: 500;
			color: var(--wp--preset--color--white);
			font-size: 1.05em;
			letter-spacing: 1px;
			-webkit-text-stroke: 3px #ca1237;
			text-shadow:
				-1px -1px 0 #ca1237,
				1px -1px 0 #ca1237,
				-1px 1px 0 #ca1237,
				1px 1px 0 #ca1237;
		}
	}

}

h1.is-style-callout::after {
	height: 0.375rem;
}

h2.is-style-callout::after {
	height: 0.4rem;
}
