.wp-block-hrswds-logo-lockup {
	align-items: center;
	color: var(--wp--custom--wsu-color-gray--75);
	display: flex;
	flex-flow: row nowrap;
	font-size: 0.5rem;
	text-decoration: none;

	@media screen and (min-width: 576px) {
		font-size: 0.6rem;
	}

	@media screen and (min-width: 768px) {
		font-size: 0.7rem;
	}

	@media screen and (min-width: 860px) {
		font-size: 0.9rem;
	}

	@media screen and (min-width: 1260px) {
		font-size: 1rem;
	}

	.wp-block-hrswds-svg-selector svg {
		height: 5.375em;
		margin: 0.75em 1em 1.5em 1.5em;
		width: 5.375em;
	}

	.wsu-logo-lockup__title-wrapper {
		line-height: 1;
		padding: 0.2em 0 0.2em 1.25em;
		position: relative;

		&::before {
			background-color: var(--wp--custom--wsu-color-gray--30);
			bottom: calc((100% - 4.5em)/ 2);
			content: "";
			height: auto;
			left: 0;
			position: absolute;
			top: calc((100% - 4.5em)/ 2);
			width: 1px;
		}
	}

	.wp-block-site-title {
		font-size: 2.4em;
		font-weight: 700;
	}

	.wp-block-site-tagline {
		font-weight: 400;
		margin-bottom: -0.4rem;
	}
}
