.wp-block-navigation {

	.wp-block-navigation-item {
		margin-bottom: 0;
	}

	.wp-block-navigation__submenu-icon {
		height: 4.5em;
		margin-left: 0;
		width: 70px;
		position: relative;

		& svg {
			height: 0.8em;
			transition: transform ease-in-out 150ms;
		}

		&:hover,
		&:focus {
			background-color: var(--wp--custom--wsu-color-gray--5);
			border-left-color: var(--wp--custom--wsu-color-gray--30);
		}

		&::before {
			content: "";
			position: absolute;
			height: auto;
			left: 0;
			width: 1px;
			top: 0;
			bottom: 0;
			background-color: #e5e5e5;
		}

		@media screen and (width > 1260px) {
			height: 2.46em;
			width: 50px;
		}
	}

	&.is-style-underline-thick {

		.wp-block-navigation-item__content {
			display: inline-block;
			position: relative;

			&::after {
				background-color: var(--wp--preset--color--primary-light);
				bottom: 0;
				content: "";
				display: block;
				height: 4px;
				left: 0;
				opacity: 0;
				position: absolute;
				right: 0;
				transition: bottom 0.2s cubic-bezier(0, 0, 0.03, 1), opacity 0.2s cubic-bezier(0, 0, 0.03, 1);
				width: 100%;
			}

			&:hover,
			&:focus {
				text-decoration: none;

				&::after {
					bottom: -3px;
					opacity: 1;
				}
			}
		}

	}
}
