.main-wrapper {

	@media screen and (min-width: 1260px) {
		display: grid;
		grid-template-areas:
			"sidebar main"
			"sidebar main-footer";
		grid-template-columns: minmax(0, 280px) minmax(0, 1fr);

		.main-content {
			grid-area: main;
		}

		.main-footer {
			grid-area: main-footer;
		}
	}
}
