a:where(:not(.wp-element-button)) {
	overflow-wrap: anywhere;

	&:hover {
		text-decoration-color: transparent;
	}

	@media not (prefers-reduced-motion) {

		transition: text-decoration 0.01s linear;

		&:hover {
			transition: text-decoration 0.1s ease;
		}
	}

	h1 &,
	h2 &,
	h3 &,
	h4 &,
	h5 &,
	h6 & {
		color: inherit;
		text-decoration: none;

		&:hover {
			text-decoration: underline;
			text-decoration-color: var(--wp--preset--color--primary-light);
		}

		.heading-link-icon {
			fill: var(--wp--preset--color--primary-light);
			transform: rotate(-45deg);
			height: auto;
			width: 0.8em;
		}
	}
}
