<!-- wp:template-part {"slug":"header","theme":"hrswp-theme-wds","tagName":"header","className":"wsu-header-global"} /-->

<!-- wp:template-part {"slug":"site-navigation-vertical","theme":"hrswp-theme-wds","tagName":"nav"} /-->

<!-- wp:group {"className":"wsu-wrapper-site"} -->
<div class="wp-block-group wsu-wrapper-site">

	<!-- wp:template-part {"slug":"site-header","theme":"hrswp-theme-wds","tagName":"header","className":"wsu-header-site"} /-->

	<!-- wp:group {"className":"wsu-wrapper-content"} -->
	<div class="wp-block-group wsu-wrapper-content">

		<!-- wp:group {"tagName":"main","className":"wsu-wrapper-main"} -->
		<main class="wp-block-group wsu-wrapper-main">
			<!-- wp:pattern {"slug":"hrswds/hidden-404"} /-->
		</main>
		<!-- /wp:group -->

	</div>
	<!-- /wp:group -->

	<!-- wp:template-part {"slug":"site-footer","theme":"hrswp-theme-wds","tagName":"footer","className":"wsu-footer-site"} /-->

</div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"hrswp-theme-wds","tagName":"footer","className":"wsu-footer-global"} /-->
