<!-- wp:group {"className":"page-wrapper"} -->
<div class="wp-block-group page-wrapper">
	<!-- wp:template-part {"slug":"header","tagName":"header","className":"page-header"} /-->
	<!-- wp:group {"className":"main-wrapper"} -->
	<div class="wp-block-group main-wrapper">
		<!-- wp:template-part {"slug":"sidebar","className":"sidebar-wrapper"} /-->
		<!-- wp:group {"tagName":"main","className":"main-content has-main-sidebar","layout":{"type":"flex"}} -->
		<main class="wp-block-group main-content has-main-sidebar">
			<!-- wp:group {"className":"main-article"} -->
			<div class="wp-block-group main-article">
				<!-- wp:group {"tagName":"header","className":"main-header","layout":{"type":"constrained"}} -->
				<header class="wp-block-group main-header">
					<!-- wp:query-title {"type":"archive","showPrefix":false} /-->
				</header>
				<!-- /wp:group -->
				<!-- wp:query {"query":{"className":"has-global-padding","perPage":6,"pages":0,"offset":0,"postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":true,"taxQuery":null,"parents":[]},"align":"wide"} -->
				<div class="wp-block-query alignwide has-global-padding">
					<!-- wp:post-template {"align":"wide","className":"main-article"} -->
					<!-- wp:columns -->
					<div class="wp-block-columns">
						<!-- wp:column {"className":"featured-image-container"} -->
						<div class="wp-block-column featured-image-container">
							<!-- wp:post-featured-image {"aspectRatio":"16/9","sizeSlug":"medium"} /-->
						</div>
						<!-- /wp:column -->
						<!-- wp:column -->
						<div class="wp-block-column">
							<!-- wp:post-date {"isLink":false} /-->
								<!-- wp:post-title {"isLink":true,"fontSize":"large"} /-->
								<!-- wp:post-excerpt {"excerptLength":15,"fontSize":"small"} /-->
								<!-- wp:template-part {"slug":"main-footer","className":"main-footer has-global-padding"} /-->
						</div>
						<!-- /wp:column -->
					</div>
					<!-- /wp:columns -->
					<!-- /wp:post-template -->

					<!-- wp:query-pagination {"align":"wide","layout":{"type":"flex","justifyContent":"left"}} -->
						<!-- wp:query-pagination-previous {"className": "wp-block-button__link wp-element-button","label": "Previous"} /-->
						<!-- wp:query-pagination-next {"className": "wp-block-button__link wp-element-button","label": "Next"} /-->
					<!-- /wp:query-pagination -->

				<!-- wp:query-no-results -->
					<!-- wp:paragraph {"placeholder":"Add text or blocks that will display when a query returns no results."} -->
						<!-- wp:pattern {"slug":"hrswds/hidden-no-results"} /-->
					<!-- /wp:paragraph -->
				<!-- /wp:query-no-results -->
				</div>
				<!-- /wp:query -->
			</div>
			<!-- /wp:group -->
			<!-- wp:template-part {"tagName":"aside","slug":"main-sidebar","className":"main-sidebar has-global-padding"} -->
		</main>
		<!-- /wp:group -->
	</div>
	<!-- /wp:group -->
	<!-- wp:template-part {"slug":"footer","tagName":"footer","className":"page-footer"} /-->
</div>
<!-- /wp:group -->
