<!-- wp:group {"className":"page-wrapper"} -->
<div class="wp-block-group page-wrapper">
	<!-- wp:template-part {"slug":"header","theme":"hrswp-theme-wds","tagName":"header","className":"page-header"} /-->
	<!-- wp:group {"className":"main-wrapper"} -->
	<div class="wp-block-group main-wrapper">
		<!-- wp:template-part {"slug":"sidebar","theme":"hrswp-theme-wds","className":"sidebar-wrapper"} /-->
		<!-- wp:group {"tagName":"main","className":"main-content"} -->
		<main class="wp-block-group main-content">
			<!-- wp:group {"tagName":"article","className":"wsu-article"} -->
			<article class="wp-block-group wsu-article">
				<!-- wp:group {"tagName":"header","className":"main-header","layout":{"type":"constrained"}} -->
				<header class="wp-block-group main-header">
					<!-- wp:post-title {"level":1,"className":"wsu-article-header__title"} /-->
				</header>
				<!-- /wp:group -->
				<!-- wp:post-content {"layout":{"type":"constrained"}} /-->
				<!-- wp:template-part {"tagName":"footer","slug":"wsu-article-footer","theme":"hrswp-theme-wds","className":"wsu-article-footer"} /-->
			</article>
			<!-- /wp:group -->
		</main>
		<!-- /wp:group -->
	</div>
	<!-- /wp:group -->
	<!-- wp:template-part {"slug":"footer","theme":"hrswp-theme-wds","tagName":"footer","className":"page-footer"} /-->
</div>
<!-- /wp:group -->
