<!-- wp:group {"className":"page-wrapper"} -->
<div class="wp-block-group page-wrapper">
	<!-- wp:template-part {"slug":"header","theme":"hrswp-theme-wds","tagName":"header","className":"page-header"} /-->
	<!-- wp:group {"className":"main-wrapper"} -->
	<div class="wp-block-group main-wrapper">
		<!-- wp:template-part {"slug":"sidebar","theme":"hrswp-theme-wds","className":"sidebar-wrapper"} /-->
		<!-- wp:group {"tagName":"main","className":"main-content"} -->
		<main class="wp-block-group main-content">
			<!-- wp:group {"tagName":"header","className":"main-header","layout":{"type":"constrained"}} -->
			<header class="wp-block-group main-header">
				<!-- wp:query-title {"type":"search","showPrefix":false} /-->
			</header>
			<!-- /wp:group -->
			<!-- wp:group {"tagName":"section","backgroundColor":"secondary-light","className":"wsu-section","layout":{"type":"constrained"}} -->
			<section class="wp-block-group wsu-section has-secondary-light-background-color has-background">
				<!-- wp:search {"label":"Search","showLabel":false,"buttonText":"Search","buttonPosition":"button-inside","buttonUseIcon":true} /-->
			</section>
			<!-- /wp:group -->
			<!-- wp:query {"query":{"perPage":10,"pages":0,"offset":0,"postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":true,"taxQuery":null,"parents":[]},"displayLayout":{"type":"flex","columns":3},"align":"wide","layout":{"type":"constrained"}} -->
			<div class="wp-block-query alignwide">
				<!-- wp:post-template {"align":"wide","className":"main-article"} -->
					<!-- wp:post-title {"isLink":true} /-->
					<!-- wp:post-date /-->
					<!-- wp:post-excerpt /-->
					<!-- wp:template-part {"slug":"wsu-article-footer","theme":"hrswp-theme-wds","className":"wsu-article-footer"} /-->
				<!-- /wp:post-template -->

				<!-- wp:query-pagination {"align":"wide","layout":{"type":"flex","justifyContent":"left"}} -->
					<!-- wp:query-pagination-previous {"className": "wp-block-button__link wp-element-button","label": "Previous"} /-->
					<!-- wp:query-pagination-next {"className": "wp-block-button__link wp-element-button","label": "Next"} /-->
				<!-- /wp:query-pagination -->

			<!-- wp:query-no-results -->
				<!-- wp:paragraph {"placeholder":"Add text or blocks that will display when a query returns no results."} -->
					<!-- wp:pattern {"slug":"hrswds/hidden-no-results"} /-->
				<!-- /wp:paragraph -->
			<!-- /wp:query-no-results -->
			</div>
			<!-- /wp:query -->
		</main>
		<!-- /wp:group -->
	</div>
	<!-- /wp:group -->
	<!-- wp:template-part {"slug":"footer","theme":"hrswp-theme-wds","tagName":"footer","className":"page-footer"} /-->
</div>
<!-- /wp:group -->
