<!-- wp:template-part {"slug":"header","theme":"hrswp-theme-wds","tagName":"header","className":"wsu-header-global"} /-->

<!-- wp:template-part {"slug":"site-navigation-vertical","theme":"hrswp-theme-wds","tagName":"nav"} /-->

<!-- wp:group {"className":"wsu-wrapper-site"} -->
<div class="wp-block-group wsu-wrapper-site">

	<!-- wp:template-part {"slug":"site-header","theme":"hrswp-theme-wds","tagName":"header","className":"wsu-header-site"} /-->

	<!-- wp:group {"className":"wsu-wrapper-content"} -->
	<div class="wp-block-group wsu-wrapper-content">

		<!-- wp:group {"tagName":"main","className":"wsu-wrapper-main"} -->
		<main class="wp-block-group wsu-wrapper-main">
			<!-- wp:group {"tagName":"article","className":"wsu-article"} -->
			<article class="wp-block-group wsu-article">
				<!-- wp:group {"tagName":"header","className":"wsu-page-header"} -->
				<header class="wp-block-group wsu-page-header">
					<!-- wp:post-featured-image {"overlayColor":"contrast","dimRatio":50,"align":"wide","style":{"spacing":{"margin":{"bottom":"var:preset|spacing|50","top":"calc(-1 * var(--wp--preset--spacing--50))"}}}} /-->
					<!-- wp:post-title {"level":1,"className":"wsu-article-header__title"} /-->
					<!-- wp:post-date {"format":null,"className":"wsu-meta-date"} /-->
				</header>
				<!-- /wp:group -->
				<!-- wp:post-content /-->
				<!-- wp:template-part {"tagName":"footer","slug":"wsu-article-footer","theme":"hrswp-theme-wds","className":"wsu-article-footer"} /-->
			</article>
			<!-- /wp:group -->
		</main>
		<!-- /wp:group -->

	</div>
	<!-- /wp:group -->

	<!-- wp:template-part {"slug":"site-footer","theme":"hrswp-theme-wds","tagName":"footer","className":"wsu-footer-site"} /-->

</div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"hrswp-theme-wds","tagName":"footer","className":"wsu-footer-global"} /-->
