.wp-block-quote {

	& cite {
		margin-left: 1.2em;

		&::before {
			content: "\2014";
			margin-right: 0.2em;
			margin-left: -1.2em;
		}
	}

	&.is-style-border {
		border-left: 5px solid var(--wp--preset--color--primary-light);
	}

}

/* Highly selected to override Core inline style. */
body .is-layout-constrained > .wp-block-quote:where(:not(.alignleft):not(.alignright):not(.alignfull)) {
	max-width: calc(var(--wp--style--global--content-size) - 8%);
}

.wp-block-quote .svg-icon {
	fill: var(--wp--preset--color--primary-light);
	margin-bottom: calc(var(--wp--style--block-gap) * -2);
	transform: rotateX(180deg) scaleX(-1);
}
