.site-navigation {

	.wp-block-navigation {
		gap: 0;
	}

	.wp-block-navigation-item {
		align-self: stretch;
		border-bottom: 1px solid var(--wp--custom--wsu-color-gray--10);
		margin: 0;

		.wp-block-navigation-item__content,
		.wp-block-navigation__submenu-icon {
			font-size: 1rem;
			line-height: 1.5;
			padding: 1.5rem 1.125rem;
		}

		.wp-block-navigation-item__content {
			color: var(--wp--custom--wsu-color-gray--75);
			flex-grow: 1;
			font-weight: 600;
		}

		.wp-block-navigation__submenu-icon {
			border-left: 1px solid var(--wp--custom--wsu-color-gray--10);
			height: 100%;
			margin-left: 0;
			width: 70px;

			&:hover,
			&:focus {
				background-color: var(--wp--custom--wsu-color-gray--10);
				border-color: var(--wp--custom--wsu-color-gray--30);
				border-width: 4px;
				width: 73px;

			}

			& svg {
				height: auto;
				width: 0.75em;
			}
		}
	}
}
