ol,
ul {
	padding-left: 1.5em;

	& li {
		margin-bottom: 0.875em;

		&::marker {
			color: var(--wp--custom--wsu-color-crimson--crimson-light);
		}
	}

	& ol,
	& ul {
		margin-bottom: 1.125em;
		margin-top: 0.875em;
		padding-left: 2em;
	}

	&.is-style-arrow li,
	&.is-style-checkbox li,
	&.is-style-checkmark li {
		padding-left: 0.4em;
	}

	&.is-style-arrow li::marker {
		content: "\276F";
		font-size: 0.85em;
		font-weight: 600;
	}

	&.is-style-checkbox li::marker {
		content: "\2610";
	}

	&.is-style-checkmark li::marker {
		content: "\2611";
	}

	&.is-style-boxed {
		padding-left: 1em;

		& li {
			list-style-type: none;
			padding-left: 1em;
			position: relative;

			&::before {
				background-color: var(--wp--custom--wsu-color-crimson--crimson-light);
				content: "";
				display: block;
				height: 6px;
				left: 0;
				position: absolute;
				top: 0.65em;
				width: 10px;
			}
		}
	}

	&.is-style-lined {
		list-style-type: none;
		margin-left: 0;
		padding-left: 0;

		> li {
			border-bottom: 1px solid var(--wp--custom--wsu-color-gray--5);
			margin: 0;
			padding: 0.5em 0;
			font-weight: 600;
			position: relative;
		}
	}

}

ul {

	& li li li {
		list-style-type: circle;
	}

	& ul ul li {
		list-style-type: square;
	}

	& ul ul ul li {
		list-style-type: disc;
	}

	& ul ul ul ul li {
		list-style-type: circle;
	}

	& ul ul ul ul ul li {
		list-style-type: square;
	}

}

ol {

	& li {
		list-style-type: decimal;

		& li {
			list-style-type: lower-alpha;
		}

	}

	& ol ol li {
		list-style-type: lower-roman;
	}


	& ol ol ol li {
		list-style-type: decimal;
	}


	& ol ol ol ol li {
		list-style-type: lower-alpha;
	}


	& ol ol ol ol ol li {
		list-style-type: lower-roman;
	}

	& ul {

		& li {
			list-style-type: disc;
		}

		& ul li {
			list-style-type: circle;
		}

		& ul ul li {
			list-style-type: square;
		}

		& ul ul ul li {
			list-style-type: disc;
		}

		& ul ul ul ul li {
			list-style-type: circle;
		}

	}

}

ul ul ol li,
ol ul ol li {
	list-style-type: lower-roman;
}
