.wsu-header-utility-bar {
	margin-top: 0;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 1035;

	@media screen and (max-width: 1260px) {
		display: none;
	}

	.admin-bar & {
		top: 32px;
	}

	&::before {
		background: linear-gradient(to right, rgba(0, 0, 0, 0.05) 0, rgba(0, 0, 0, 0.5) 100%);
		content: "";
		display: block;
		height: 35px;
		left: -6px;
		opacity: 0.5;
		position: absolute;
		top: 0;
		width: 6px;
	}

	.wp-block-buttons {
		font-size: 1rem;
		gap: 0;

		.wp-block-button {
			min-height: 56px;
			max-height: 56px;
		}

		.wp-block-button__link {
			border-radius: 0;
			border-bottom: 5px solid var(--wp--preset--color--primary-light);
			box-shadow: none;
			line-height: 1;
			transition: ease-in-out 0.1s;

			&::before {
				background-color: transparent;
				content: "";
				display: inline-block;
				height: 12px;
				margin-right: 0.3rem;
				transition: background-color 0.2s cubic-bezier(0, 0, 0.03, 1);
				visibility: hidden;
				width: 5px;
			}

			&:hover,
			&:focus {
				border-bottom-color: var(--wp--custom--wsu-color-crimson--crimson-dark);
				outline: none;

				&::before {
					visibility: visible;
					background-color: var(--wp--preset--color--white);
				}
			}
		}
	}

	.wsu-header-utility-bar__quicklinks .wp-block-button__link {
		background-color: var(--wp--custom--wsu-color-gray--65);
		font-weight: 400;

		&:hover,
		&:focus {
			background-color: var(--wp--custom--wsu-color-gray--75);
		}
	}

	.wsu-header-utility-bar__cta .wp-block-button__link {
		background-color: var(--wp--preset--color--primary-light);
		clip-path: polygon(100% 0, 100% calc(100% - 20px), calc(100% - 20px) 100%, 0 100%, 0 0);
		font-weight: 700;
		padding: 1em calc(1.75em + 0.3rem + 5px) 1em 1.75em;

		&:hover,
		&:focus {
			background-color: var(--wp--custom--wsu-color-crimson--crimson-dark);
		}
	}
}
