.site-utility-bar {
	font-size: 1rem;
	margin-top: 0;

	.wp-block-buttons,
	.wp-block-group {
		gap: 0;
	}

	@media screen and (width > 1260px) {
		max-height: 56px;
		min-height: 56px;
		position: absolute;
		right: 0;
		top: 0;
		z-index: 1090;

		.admin-bar & {
			top: 32px;
		}

		&::before {
			background: linear-gradient(to right, rgba(0, 0, 0, 0.05) 0, rgba(0, 0, 0, 0.5) 100%);
			content: "";
			display: block;
			height: 35px;
			left: -6px;
			opacity: 0.5;
			position: absolute;
			top: 0;
			width: 6px;
		}
	}
}

.utility-bar-buttons {

	.is-position-absolute & {
		display: none;
	}

	.wp-element-button {
		background-color: var(--wp--custom--wsu-color-gray--5);
		border-radius: 0;
		box-shadow: none;
		color: var(--wp--preset--color--contrast);
		padding: 1.5em;
		padding-left: calc(1.5em - 5px - 0.3rem);
		transition: ease-in-out 0.1s;
		width: 100%;

		&::before {
			background-color: transparent;
			content: "";
			display: inline-block;
			height: 12px;
			margin-right: -0.3rem;
			transition: background-color 0.2s cubic-bezier(0, 0, 0.03, 1);
			visibility: hidden;
			width: 5px;
		}

		&:hover,
		&:focus {
			background-color: var(--wp--custom--wsu-color-gray--75);
			color: var(--wp--preset--color--white);
			fill: var(--wp--preset--color--white);

			&::before {
				background-color: var(--wp--preset--color--white);
				visibility: visible;
			}
		}
	}

	.quicklinks-panel-toggle {
		font-weight: 600;
		width: 100%;

		& svg {
			margin-left: auto;
		}
	}

	@media screen and (width > 1260px) {

		.is-position-absolute & {
			display: flex;
		}

		.site-navigation-container & {
			display: none;
		}

		.wp-element-button {
			border-bottom: 5px solid var(--wp--preset--color--primary-light);
			color: var(--wp--preset--color--white);
			font-weight: 400;
			padding: 0;

			&:hover,
			&:focus {
				border-bottom-color: var(--wp--custom--wsu-color-crimson--crimson-dark);
			}
		}

		.quicklinks-panel-toggle {
			width: auto;

			.wp-element-button {
				background-color: var(--wp--custom--wsu-color-gray--65);
				padding: 1em 2.5em;
				fill: var(--wp--preset--color--white);

				&:hover,
				&:focus {
					background-color: var(--wp--custom--wsu-color-gray--75);
				}
			}
		}

		.site-utility-bar__cta {

			.wp-element-button {
				background-color: var(--wp--preset--color--primary-light);
				clip-path: polygon(100% 0, 100% calc(100% - 20px), calc(100% - 20px) 100%, 0 100%, 0 0);
				display: block;
				font-weight: 700;
				padding: 1em calc(1.75em + 0.3rem + 5px) 1em 1.75em;

				&::before {
					margin-right: 0.3rem;
				}

				&:hover,
				&:focus {
					background-color: var(--wp--custom--wsu-color-crimson--crimson-dark);
				}
			}

		}

	}

}

.quicklinks-search-menu {
	background: var(--wp--preset--color--white);
	background: linear-gradient(
		135deg,
		var(--wp--custom--wsu-color-gray--0) 0,
		var(--wp--custom--wsu-color-gray--30) 100%
	);
	border-left: 3px solid var(--wp--preset--color--primary);
	border-top: 2px solid var(--wp--preset--color--primary-light);
	display: block;
	min-height: 100vh;
	max-width: 100%;
	padding: 0 1.5rem;
	width: 500px;
	position: fixed;
	right: 0;
	top: 0;
	transform: translateX(calc(500px + 6px));
	transition: transform 0.2s cubic-bezier(0, 0, 0.03, 1);
	z-index: 1090;

	&.show-menu {
		transform: translateX( 0 );
	}

	&::before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		background-color: var(--wp--preset--color--primary-light);
		width: 80px;
		height: 80px;
		display: block;
		clip-path: polygon(100% 0, 100% calc(100% - 100px), calc(100% - 100px) 100%, 0 100%, 0 0);
	}

	.close-menu-button {
		display: flex;
	}

	.wp-block-search__input {
		background-color: transparent;
	}

	.search-icon {
		min-height: 40px;
  		min-width: 40px;
	}

	.wp-block-separator {
		background-image: repeating-linear-gradient(
			135deg,
			var(--wp--custom--wsu-color-gray--35),
			var(--wp--custom--wsu-color-gray--35) 2px,
			transparent 2px,
			transparent 10px
		);
		background-position: 0 -4px;
		background-repeat: no-repeat;
		border: 0;
		display: block;
		height: 2.25rem;
		margin: 1.5rem 0 3rem;
	}

	.wp-block-navigation-item {
		font-weight: 500;
		margin-left: 1rem;
		padding: 0 0 0 1.25em;

		&::before {
			background-color: var(--wp--custom--wsu-color-crimson--crimson-light);
			content: "";
			display: block;
			height: 6px;
			left: 0;
			position: absolute;
			top: 0.7em;
			width: 10px;
		}
	}
}
