.home {

	.main-content {
		margin-top: 0;
		padding-top: 0;
	}

	.banner-hero {
		margin: 0;
	}

	.entry-content {
		margin-top: 0;
	}

	.hero-menu {
		margin-top: -4rem;
		padding: 0 0 2.5rem;
	}

}
